<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<h1>Welcome {{ user }} 🎉</h1>

<h3>Add Book</h3>

<form action="/add_book" method="POST">
    <input type="text"
           name="title"
           placeholder="Enter book title"
           required>

    <button type="submit">
        Add Book
    </button>
</form>

<br>

<form action="/search" method="GET">
    <input type="text"
           name="q"
           placeholder="Search book">

    <button type="submit">
        Search
    </button>
</form>

<br>

<a href="/books">View Books</a>

<br><br>

<a href="/logout">Logout</a>

</body>
</html>